replicaCount: 1

name: frontend
port: 3000

image:
  repository: todo-frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

env:
  NEXT_PUBLIC_API_BASE_URL: "http://backend:8000"
  NEXT_PUBLIC_CHATKIT_API_URL: "http://ai-service:8001"
